In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import warnings
warnings.filterwarnings("ignore")

np.random.seed(1995)

In [137]:
#Reading the dataset
df = pd.read_csv("country_vaccination_stats.csv")

#50079 rows and 100 columns
print("The data size:", df.shape)

The data size: (1502, 4)

In [138]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [139]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(df.groupby('country')['daily_vaccinations'].transform('min'))

In [140]:
df.head(5)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [141]:
#One instance left which is a country with no vaccination information
df['daily_vaccinations'].isna().sum()

1

In [142]:
#so it needs to be filled with '0'
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)

df['daily_vaccinations'].isna().sum()

0

In [122]:
#Q5 starts
m = df.groupby(['country'])[['daily_vaccinations']].apply(np.median)
m.name = 'median_dly_vac'

df=df.join(m, on=['country'])

In [102]:
df1=df.sort_values('median_dly_vac',ascending=False).drop_duplicates('median_dly_vac').head(3)
df1

,country,date,daily_vaccinations,vaccines,median_dly_vac
1457,United States,1/24/2021,1122182.0,"Moderna, Pfizer/BioNTech",378253.0
226,China,12/24/2020,187500.0,"CNBG, Sinovac",276786.0
629,India,1/17/2021,112150.0,"Covaxin, Covishield",173922.0

In [103]:
df1['country']
#top-3 countries with highest median daily vaccination numbers are United States, China and India

1457    United States
226             China
629             India
Name: country, dtype: object

In [143]:
#Q6 begins
df['date']

0       12/29/2020
1       12/30/2020
2       12/31/2020
3         1/1/2021
4         1/2/2021
           ...
1497     1/20/2021
1498     1/21/2021
1499     1/22/2021
1500     1/23/2021
1501     1/24/2021
Name: date, Length: 1502, dtype: object

In [144]:
df['date'] = pd.to_datetime(df['date'])  

df.head()

     country       date  daily_vaccinations   vaccines
0  Argentina 2020-12-29              6483.0  Sputnik V
1  Argentina 2020-12-30             15656.0  Sputnik V
2  Argentina 2020-12-31             15656.0  Sputnik V
3  Argentina 2021-01-01             11070.0  Sputnik V
4  Argentina 2021-01-02              8776.0  Sputnik V

In [150]:
import datetime

df1=df.loc[df['date']=='2021-01-06']
df1

,country,date,daily_vaccinations,vaccines
0,Argentina,2021-01-06,6483.0,Sputnik V
1,Argentina,2021-01-06,15656.0,Sputnik V
2,Argentina,2021-01-06,15656.0,Sputnik V
3,Argentina,2021-01-06,11070.0,Sputnik V
4,Argentina,2021-01-06,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,2021-01-06,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,2021-01-06,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,2021-01-06,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,2021-01-06,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,2021-01-06,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [151]:
df1['daily_vaccinations'].sum()

63209323.0